<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>main</title>
</head>
<body>
  <h1>파일 업로드하기</h1>

  <h3>single file 업로드하기</h3>
<!--  파일을 보낼 때는 form의 enctype 디폴트값(application/x-www-form-urlencoded) 말고 multipart로 설정해준다. -->
  <form action="single-file" method="post" enctype="multipart/form-data">
    파일: <input type="file" name="singleFile"><br>
    파일 설명: <input type="text" name="singleFileDescription"><br>
    <input type="submit">
  </form>

    <h3>multi file 업로드하기</h3>
    <form action="multi-file" method="post" enctype="multipart/form-data">
        파일: <input type="file" name="multiFiles" multiple><br>
        파일 설명: <input type="text" name="multiFileDescription"><br>
        <input type="submit">
    </form>

</body>
</html>